<div class="topo m-15">
  <div class="row align-items-center text-center">
      <div class="col-3">
          <img src="assets/caixa.svg" alt="caixa">
          <p>
             <b>Maior estoque do Brasil</b><br>
             <span>Referência em vidros</span>
          </p>
      </div>
      <div class="col-3">
          <img src="assets/caminhao.svg" alt="caminhão">
          <p>
             <b>Entrega para todo Brasil</b><br>
             <span>Mais de 70 lojas</span>
          </p>
      </div>
      <div class="col-3" >
          <img src="assets/cartao.svg" alt="caminhão">
          <p>
             <b>Pagamento facilitado</b><br>
             <span>Em até 5x nos cartões</span>
          </p>
      </div>
      <div class="col-3">
          <img src="assets/garantia1.svg" alt="garantia">
          <p>
             <b>Garantia de até 1 ano</b><br>
             <span>Em todas as peças</span>
          </p>
      </div>
  </div>
</div>
