<div class="footer mt-5">
    <footer>
        <div class="container">
            <div class="d-flex row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>A Maxglass</h3>
                    <ul>
                        <li><a href="#">Quem somos</a></li>
                        <li><a href="#">Nossas lojas</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Suporte</h3>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contato</a></li>
                        <li><a href="#">Política de Privacidade</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Central de Atendimento</h3>
                    <ul>
                        <li>Ecommerce: 0800 707 7670</li>
                        <li>Horário de atendimento:</li>
                        <li>Seg a sex, 8h às 21h (horário de Brasília)</li>
                    </ul>
                </div>
                <div class="col-lg-3 item social">
                    <a [routerLink]="['/', 'home']">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a [routerLink]="['/', 'home']">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                    <a [routerLink]="['/', 'home']">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a [routerLink]="['/', 'home']">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                    <p class="copyright">Maxglass© 2022 - Todos os direitos reservados</p>
                </div>
            </div>
        </div>
    </footer>
</div>
